@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

/* Firefox */
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  background-color: #00000024;
}

::-webkit-scrollbar-thumb {
  background-color: #350ABC;
  border-radius: 10px;
}

::-moz-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #00000024;
}

::-moz-scrollbar-thumb {
  background-color: #350ABC;
  border-radius: 10px;
}

::-ms-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #00000024;
}

::-ms-scrollbar-thumb {
  background-color: #350ABC;
  border-radius: 10px;
}